body, .container:not{
  background-color: red;
}
.container {
  max-width: 900px;
  margin:auto;
  font-family: 'Roboto';
}
.container h1{
  font-size: 2.8rem;
  margin: 5rem 0 2rem;
}

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav a{
  position: relative;
  flex: 0 0 23.5%;
  height: 250px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  background: linear-gradient(208.29deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 92.13%), #F2C94C;
}
nav a::before{
  content: '';
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 28.65%, rgba(0, 0, 0, 0.4) 67.71%, rgba(0, 0, 0, 0) 100%);
  width: 4px;
  height: 100%;
  left: 1rem;
  bottom: 0;

}
nav a article{
  flex: 0 0 100%;
}
nav a article h3{
  font-size: 1.125rem;

}
nav a article h4{
  font-size: .7rem;
  font-weight:400;

}

.fullscreen{
  height: 100vh;
  width: 100vw;
  background-color: rgb(20, 20, 20);
}